@font-face{
     font-family:'Roboto';
     src:url('fonts/Roboto-Light.ttf');
     font-weight:normal;
}
@font-face{
     font-family:'Roboto-Dark'
     src:url('fonts/Roboto-Dark.ttf');
}

body {
    background-color: #eee;
    font-size:18px;
    font-family: "Roboto";
}
 
.grid {
    width: 60%; 
    margin: 20px auto;
    background-color: #fff;
    padding: 30px 50px 50px 50px;    
    border-radius:5px;   
   
}
 
 .answerclass{ 
    font-weight: bolder; 
    min-height: 40px;
    text-align: center;
 }
.grid h1 {
    
    
    font-size: 40px;
    text-align: center;
    
    padding: 2px 0px;
    
}
 
#score {
    color: #009688;
    text-align: right;
    font-family:'Roboto-Dark';
}
 
#choice0,#choice1,#choice2,#choice3{
    padding-top: 10px;
    padding-bottom: 10px;
    width:60%;
      background-color:alice-blue;
   font-size:18px;
 
   margin:5px;
   text-align:center;  
   border-radius: 7px;
   border-style: outset;
   box-shadow: 2px;
   word-wrap: break-word; 
 }
 
 
.buttons {
    margin-top: 30px; 
    line-height: 200%;  
}
 
 .codetext{
    font-family:monospace;
    font-size:12px; 
 }
#nextbutton {
 
    background-color: #009688;
    width: 40%; 
    font-weight: bold;
    color: #fff;
    margin:20px auto;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
     
}
 
#nextbutton:hover{
    cursor: pointer;
    background-color: #009688;
     border-radius: 5px;
}
 
#nextbutton:focus {
    outline: 0;
}
.head{
   background-color: #009688;
   color:white;
   font-weight: bolder; 
   padding:10px;
}
 
#progress {
    color: #009688; 

    font-family:'Roboto-Dark'; 
}
.codestyle{
    font-family: monospace; 
}
