body{
   margin:0px ;
    padding:0px;
    
    height:100vh;
    background: radial-gradient(circle at top left, #2563eb, transparent 30%),
    radial-gradient(circle at bottom right, #9333ea, transparent 30%),
    #0f172a;
}
.grid-container{
   margin:40px auto; 
      background:#f4f3f505;
   display:grid;
   width:65%;   
   align-items:center;
    
   grid-template-columns:repeat(auto-fit,minmax(100px,1fr)); 
            gap:10px;
   padding:20px;;
}
 
.card { 
  aspect-ratio:1/1;   border-radius:10px; 
  background:white;
  
  overflow: hidden; /* Keeps image within rounded corners */
  transition: transform 0.3s ease; /* Smooth hover effect */
   
}

.card:hover {
  transform: rotateY(-5px); /* Lift effect on hover */
}

.card-img {
  width: 100%;
  height: 100%; 
  object-fit:fill;
   /* object-fit: cover; /* Prevents image distortion */
}
.reveal{
   opacity:1;
}
.clearCard{
   visibility:hidden;
}
.whiteBg{
   background:white;
}
 
 
.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

 
.card-front {
  background:linear-gradient(135deg, #e6f0fa 0%, #cce0f5 100%);
  
  background-size:cover;
  }
.card-back { 
  transform: rotateY(180deg);
   background-size:contain;
    background-repeat:no-repeat;
   background-position:center; 
   filter: drop-shadow(1px 2px 2px gray);
}

.card-back img {
  width: 100%;
  height: 100%;
  object-fit:  cover;
} 

#header{
    height:100px;
    width:100%;
    padding-top:15px;
    padding-bottom:15px; 
    background:#5552;
    display:flex;
    justify-content:space-between;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
 
}
 
img{
    padding:5px;
    filter: drop-shadow(1px 2px 2px gray);
}
#timer, #moves {  
    padding:10px; 
    line-height: 35px;
    font-weight: bold;
    font-size:x-large;
    color:white;    
  }
 

dialog {
  border: none;
  border-radius: 10px;
  padding: 20px;
  width: 60%;
  font-size: clamp(1.5rem, 5vw, 3rem);
  background:white;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  text-shadow:2px 2px 4px gray;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.dialog-actions {
  margin-top: 15px;
}

.dialog-actions button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #4CAF50;
  font-size:large;
  color: white;
}

.dialog-actions button:hover {
  background: #45a049;
}


.hidden{
   display:none;
}
@media only screen and (max-width:600px){
 .grid-container{
     margin:5px auto;
     width:80%;
     grid-template-columns: repeat(3, auto);
}
}

img{
    margin:8px;
}