* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

.container {
  text-align: center;
  background: white;
  padding: 40px;
  border-radius: 16px;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

h1 {
  margin-bottom: 10px;
}

.subtitle {
  margin-bottom: 30px;
  color: #666;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  text-decoration: none;
  background: #f9f9f9;
  padding: 25px;
  border-radius: 12px;
  width: 280px;
  transition: 0.3s;
  color: #333;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.quiz:hover {
  background: #e3f2fd;
}

.descriptive:hover {
  background: #fce4ec;
}

h2 {
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  color: #555;
}
.topic-select {
  margin-top: 30px;
  text-align: center;
}

.topic-select label {
  display: block; 
  margin-bottom: 8px;
  color: #333;
}


.topic-select select {
  width: 260px;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #ddd;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
/* Hover effect */
.topic-select select:hover {
  border-color: #6c63ff;
}

/* Focus effect */
.topic-select select:focus {
  outline: none;
  border-color: #6c63ff;
  box-shadow: 0 0 8px rgba(108, 99, 255, 0.3);
}

#topiclabel{
  font-size:large;
  font-style:bold;
}