@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Roboto:wght@300&display=swap');
body {
    background-color: #eee;
    font-size: 1em;
    font-family: 'roboto',sans-serif;
    margin:0px;
    padding:0px;
}
 
.grid {
    width: 600px; 
    margin: 20px auto;
    margin-bottom:10px;
    background-color: #fff;
    padding:20px;  
    border-radius:5px;  
    border:1px solid #ddd;
    box-shadow:7px 7px 5px lightgray;
     
   
}
#question{
    font-size: 1.1em;
    margin-top:50px;
}
 
 .answerclass{ 
    font-weight: bolder; 
    min-height: 20px;
    text-align: center;
 }
 
 
#score,#progress {
    color: #009688; 
    font-size: 1.0em; 
}
 
button{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:1em;
    width:55%;
    margin:5px;
    text-align:center;
    
 }
.codetext{
  padding:10px;
  font-family:courier, monospace;
  font-size:12px; 
  text-align:left; 
  margin-left:15px;
  margin-top:15px;}
 
 .monotext{
     font-family:courier;
     font-size:0.9em;
}   
.buttons {
    margin-top: 30px; 
    line-height: 200%; 
    font-size: 16px;
    text-align:center;
}
 
 
#nextbutton {
 
    background-color: #008988;
     
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
    margin:10px auto;
    
    padding: 15px;
    border-radius: 5px;
     
}
 
#nextbutton:hover{
    cursor: pointer;
    background-color: #009688;
     border-radius: 5px;
}
 
#nextbutton:focus {
    outline: 0;
}
.head{
   background-color: #389;
   color:white;
   font-weight: bolder; 
   padding:10px;
   
}
 
 

@media screen and (max-width: 800px){

.grid{
     width: 80%;
     padding:5px;
     margin:10px auto;
     
}
.head{
   padding:5px;
   }
 
button{ 
    padding:5px;
    min-width:150px;
   
}
.codestyle{
    font-family: monospace; 
    font-size:12px;
    max-height:150px;
    margin:7px;
    overflow:scroll;
    border:1px;
    border-color:#bbb;
    border-style:solid;
    padding:3px;
}
}
