@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
.numberstyle{ 
   background-color: #339988;
   padding: 10px 10px 10px 10px;
   margin:10px;
}
h1{
   background-color: #389;
   color: white;
   font-size: 1.7em;
   padding: 20px; 
   margin-top:0px;
   margin-bottom:0px;
   color:#ffffff;
}
button{
  background-color:white;
  color:   darkblue  ; 
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em; 
  border-radius:5px; 
  box-shadow:1px 1px 2px gray;
  cursor:pointer;
}
button:disabled{
   color:#ddd;
}
body{
	margin: 0px;
	padding:0px;
	font-family:Roboto; 
	background-color:lightblue;
}
.main{
    margin:5px auto;
	padding:7px;
	width:95%;
	margin-top: 0px; 
    
}
div{
   margin:10px;
}
.cmd{
	background-color: #689;
	color:white;
	font-size: larger;
	padding:10px;
	margin: 10px;
	border-radius: 8px;
	font-weight: bold;
}
#targetNum{
	font-size:1.4em;
   color: white;
   font-weight: bolder; 
   padding:10px; 
   text-shadow: 2px 2px 4px #000000;
}
.solu{ 
   text-align:center;
   font-size:1.1em;
   padding:10px;
}
.dull{
   color : #bebebe;
   font-style: italic;
}
#id{
   font-size:larger;
   font-weight: bolder;
}
input{
   font-size:larger;
}
p{
   font-size:1.1em;
}
#buttonbar{
    font-size:1.1em;
    padding:7px;
    text-align:center;
    
}
.message{

   background-color: #008080;
   color:white;
   font-size:1.3em;
   border:2px solid white;
   width:60%; 
   margin:50px auto;
   margin-top:50px;
   border:2px solid gray;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding:8%;
   border-radius:10px;
}
.messagecontainer{
   margin:0px;
   padding:0px;
   width:100%;
   height:100%;
   background-color:rgba(0,0,0,0.4);
   z-index:1000;
   display:none;
   overflow:auto;
   position:fixed;
   left:0;
   top:0;
}
#howto{
   font-size:1.4em;
   font-style:italic;
}
@media  (min-width:1068px){
h2{
   background-color: #389;
   color: white; 
   padding: 15px; 
   margin-top:0px;
   margin-bottom:0px;
   color:#ffffff;
   font-size:1.8em;
}
.main{
   font-size:medium;
 padding:40px;
}
button{
   font-size:1.2em;
   padding:15px 32px;
}
input{
   font-size:medium;
}
 #targetNum{
	font-size: 1.4em;
   color: white;
   font-weight: bolder; 
   
}  
p{
    padding:20px;
    text-align:center;
}
.message{
    width:35%;
}
}
