@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
 body{
   font-family: "Roboto"; 
   margin: 0;
   padding: 0;
}
#grid{
	width:80%;
	margin:10px auto;
    margin-top: 3%;
    padding: 10px;
	background-color:  #ebf5fb ;
	box-shadow: 3px 3px 1px gray;
	font-size: 1em;  
    text-align: center; 
    overflow:hidden;
   
}
.grid-container {
  width:300px;
  margin:5px auto;
  display: grid;
  grid-row-gap:2px;
  grid-column-gap:2px;
   
  grid-template-columns: 80px 80px 80px ; 
  padding: 3px;
}

.grid-item {
  background-color: #1891ac;
  border: 0.5px solid rgb(100, 100, 100);
  padding: 20px;
  font-size: 1.4em;
  color:white;
  text-align: center; 
  box-shadow: 1px 1px 1px gray;

}
p{
 text-align:center;
}
 
 .answers button{
     font-size:1.4em;
 }
 
.fatbutton{
  font-size:28px;
  background-color:rgba(0,100,100,1.0);
  border-radius:10px;
  color:white;
  padding:10px;
}
.iconbutton{
   font-size:0.6em;
   display:flex;
   flex-direction:column;
}
button{
   padding:5px; 
   border-radius:5px; 
   }
.heading{ 
   width: 100%;
   background-color: #389;
   color: white;
   padding:10px;
   font-size: 3em;
   overflow:hidden;
   font-weight: bolder;
   text-align: center; 
   margin: 0px;
   margin-top:0px; 
  border-color: #eef;   
   font-weight:bold;
    
}
 
 
#dialogscreen{
    margin:10px auto;
    width:60%;
    text-align:center;
    display:none;
    background-color: #ebf5fb;
    font-size:1.8em;
    color:teal; 
    overflow=hidden;
    box-shadow:2px 2px 1px gray;
}

#gamearea{
   display:flex;
   margin:3px auto;
   flex-direction:column;
   background-color:#d2ecfc ;
   width:85%;
   padding:5px;
   box-shadow:1px 1px 1px gray;
}
button{
   background-color:#CAF4FF;
   box-shadow:1px 1px cyan;
   cursor:pointer;
}
button:disabled{
    background-color:#cdd2d5;
}
#buttonbar{
   justify-content:center;
   display:flex;
   flex-direction:horizontal;
   padding:5px;
}
@media only screen and (min-width:1025px){
#gamearea{
     width:50%;
     margin:10px auto;
     padding:10px;
}
button{
   padding:10px;
   font-size:1.3em;
}
.heading{
   padding:40px;
   font-size:3em; 
}
}
 