
@font-face{
     font-family:'Roboto';
     src:url('../fonts/Roboto-Light.ttf');
     font-weight:normal;
}
body{
   font-family: 'Roboto';
   font-size: 16px;
}
#grid{
	width:70%;
	margin:auto;
	background-color: #22669999;
	 
	font-size: 18px; 
        color:white;
	 
	 

}
input{
   padding:10px;
   font-size: 16px;
   
}
div{
   padding:10px 10px 10px 10px;
   margin:10px;
}
#question{
	font-size: 20px;
	font-family: Helvetica;
}
.inlinequestion{
  display: inline-block;
  text-align: left;
}
h1{
   font-size: 30px;
   padding: 30px 30px 30px 30px;
   margin:0px;
   background-color: #389;
   color:white;
   margin:0px;
   
}
.heading{
   font-size: 40px;
   padding: 30px 30px 30px 30px;
   margin:0px;
   background-color: #389;
   color:white;
   margin:0px;
   
}
button{
   padding:8px;
   background-color: #eee;
   font-size: 16px;
  
}
.modal{
   z-index:1;
   position:fixed;
   left:0;
   top:0; 
   display:none;
   width:100%;
   height:100%;
   margin:0px;
   background-color:rgba(255,255,255,0.5); 
   background-alpha: 
   
}
.modalwindow{
   margin:20% auto;/*15% from top and centered*/
    
   width:50%;
   
   border-radius:10px;
   border:2px #ccc;
   font-size:30px;
   color:#555;
   background-color:white;
   border-style:outset;
 }
 #replay{
   display:none;
}
 @media screen and (max-width: 481px){
input{
	padding:3px;
        width:30%;  
  }
.heading{
   font-size: 24px;
   padding: 10px 10px 10px 10px;
   margin:0px;
   background-color: #389;
   color:white;
    
   
}
#grid{
   width:90%;
}
 
}
